.hover-box-down {
    padding: 5px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right,
            transparent calc(0% - 5px),
            #60ff9f 100%,
            #272727 0%);
    background-size: 0%;
    background-repeat: no-repeat;
    display: flex;
    transition: 0.5s ease;
}

.hover-box-down:hover,
.hover-box-up:hover {
    background-size: 100%;
}



.hover-box-up {
    padding: 5px;
    margin-bottom: -10px;
    background-image: linear-gradient(to right,
            transparent calc(0% - 5px),
            #60ff9f 0%,
            #272727 100%);
    background-size: 0%;
    background-repeat: no-repeat;
    display: flex;
    transition: 0.5s ease;
}